a{
    text-decoration: none;
    color: white;
    font-size: large;
    letter-spacing: 5px;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    a{
        font-size: 15px;
        letter-spacing: 2px;
    }
    
}