header {
    text-align: center;

    h1 {
        margin-top: 10px;
        letter-spacing: 4px;
    }
    
    p {
        font-size: 20px;
        letter-spacing: 5px;
        margin-bottom: 0;
    }
}
